@{
    ViewBag.Title = "My Calender";
}

<div class="container">
    <h2>My Calender</h2>
    <h4> See you calender here </h4>
    <br/>
    <div class="container">
        <div id="calendar"></div>
    </div>
</div>


<script type="text/javascript">
    $(function () {

        $('#calendar').fullCalendar({
            aspectRatio: 2.5,
            header: {
                left: '',
                center: 'title',
                right: 'today prev,next'
            },
            events: '@Url.Action("GetJSonShowsFollows", "Show")',
            timeFormat: ' '
        });
    });
</script>