@{
    ViewBag.Title = "My Calender";
}

<div class="container">
    <h2>My Calender</h2>
    <h4> See you calender here </h4>
    <br/>
    <div class="container">
        <div id="calendar"></div>
    </div>
</div>


<script type="text/javascript">
    $(function () {

        $('#calendar').fullCalendar({
            aspectRatio: 2.5,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: '@Url.Action("GetJSonShowsFollows", "Show")'
        });
    });
</script>