@{
    ViewBag.Title = "About";
}

<div class="container">

    <h2>About - FAQ</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sem pellentesque blandit tempus. Maecenas accumsan ornare lacinia. Nullam metus neque, luctus nec suscipit in, placerat non sapien. Nunc malesuada sit amet massa et placerat. Integer imperdiet ullamcorper tortor, in sodales nibh tempus id. Pellentesque suscipit nec urna id bibendum. Suspendisse finibus, dolor vel varius consectetur, lacus neque elementum mauris, ac tincidunt tellus tortor molestie tellus. Integer pretium neque id odio pretium, non volutpat quam malesuada. Etiam pellentesque mauris vel ipsum eleifend, vel pulvinar dui aliquam.</p>

    <p>Phasellus massa lacus, euismod eget quam vitae, tristique fringilla dui. Ut blandit felis sapien, in volutpat nisi maximus in. Vestibulum non viverra neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eu lacinia justo, eget consectetur ipsum. Vestibulum vitae leo vitae enim tempus tincidunt non id mauris. Nullam id enim sed tortor facilisis elementum vel sed libero. Etiam eget feugiat magna, a dapibus dui. Mauris venenatis arcu eget urna laoreet venenatis. Pellentesque lacinia nunc vel vestibulum pharetra. Phasellus quis dolor ac velit ornare dignissim. Vivamus mattis viverra faucibus. Sed ultrices vestibulum urna, id sollicitudin diam aliquet quis. Phasellus convallis, justo eu malesuada facilisis, enim massa accumsan nibh, in tristique leo leo eget arcu. Donec in auctor ipsum, nec congue dolor.</p>

    <p>Phasellus mattis mauris magna, et sagittis mauris pretium pellentesque. Praesent aliquam ante vel tortor lacinia fermentum. Quisque sit amet dictum massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis mi lacus, volutpat vel sem nec, malesuada fringilla orci. Donec non pretium mi. Morbi pharetra feugiat est et imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. In convallis purus tempus leo dictum consectetur. Nam mattis imperdiet pharetra. Vestibulum nec turpis fermentum, commodo velit in, consectetur dolor. Duis finibus commodo nisi, sed faucibus justo posuere a. Sed lectus felis, ultricies non magna vel, mattis consectetur nibh. Nulla sit amet tristique urna, ut mollis magna.</p>
</div>
