@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>

    <address>
        Something Something<br />
        Somewhere Somewhere<br />
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:showedtv@gmail.com">showedtv@gmail.com</a><br/>
    </address>
</div>
